.sfia {
    margin: 0 auto;
    margin-top: 102px;
    justify-content: space-between;
    align-items: top;
    &__pdf {
        &-bg {
            display: flex;
            width: 673px;
            height: 808px;
            background: #FFFFFF;
            opacity: 0.75;
            border-radius: 20px;
            font-weight: 600;
            font-size: 25px;
            color: #292329;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        &-download {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: 0.3s all;
            &:hover {
                margin-top: 23px;
                margin-left: 3px;
            }
        }
        &-header {
            font-weight: 600;
            font-size: 30px;
            color: #FFFFFF;
        }
    }
    &__profile {
        margin-left: 100px;
        &-img {
            height: 330px;
        }
        &-name {
            font-weight: 600;
            font-size: 50px;
            text-align: left;
            color: #FFFFFF;
        }
        &-descr {
            margin-top: 11px;
            display: flex;
        }
        &-check {
            font-weight: 600;
            font-size: 30px;
            color: #FFFFFF;
            text-align: left;
        }
        &-green {
            margin-left: 13px;
        }
    }
}